.content{
    width: 300px;
    height: 400px;
}

.header{
    width: 100%;
    height: 10%;
    background-color: white;
}
.reload-icon{
    float: right;
    cursor: pointer;
}

.podlogka {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 400px;
        background: #000;
        opacity: 0.6;
        z-index: 100;
}

.menu{
    position: absolute;
        top: 0;
        left: 0;
        width: 250px;
        height: 400px;
        border-radius: 0 10px 10px 0;
        background: #fff;
        z-index: 150;
}
    


.posts{
    margin-top: 3%;
}